PROJECT_NAME=GHA_HOST_DBT_DOCS

# Miniconda
## Path for Windows 11
MINICONDA_PATH=C:\Users\<USERNAME>\AppData\Local\miniconda3\Scripts\activate.bat
## Path for Windows Server 2022
# MINICONDA_PATH=C:\ProgramData\miniconda3\Scripts\activate.bat
MINICONDA_VENV=de_310
MINICONDA_PYTHON_VERSION=3.10

# To be referenced by docker-compose.yml
IMAGE_REGISTRY=ghcr.io # must be lowercase
IMAGE_REPO=<organization name>/<repo name> # must be lowercase

REPO_URL=https://github.com/example/repo
RUNNER_NAME=docker-compose-runner
RUNNER_TOKEN=<Copy from GitHub > Settings > Actions > Runner > Create new self-hosted runner, Linux X64>
RUNNER_WORKDIR=/tmp/runner/work
RUNNER_GROUP=default
RUNNER_SCOPE='orgs'
ORG_NAME=GatewayDW

ACCEPT_EULA=Y