# Source Data
Data
data

# Logs
log

# DB Source File
DB_Datafiles/

# Exclude "Archive"
Archive/

# Release
release/

# Config - Common configuration files
config/Common

# Credentials Management
profiles.yml
mage/io_config.yaml
*.env
.DS_Store
