REPO_URL=https://github.com/example/repo
RUNNER_NAME=docker-compose-runner
RUNNER_TOKEN=<Copy from GitHub > Settings > Actions > Runner > Create new self-hosted runner, Linux X64>
RUNNER_WORKDIR=/tmp/runner/work
RUNNER_GROUP=default
RUNNER_SCOPE='orgs'
ORG_NAME=GatewayDW

ACCEPT_EULA=Y